*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Rubik";
    src: url("fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Arimo";
    src: url("fonts/Arimo-VariableFont_wght.ttf");
}

header {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    margin: 0 auto;
    padding: 1rem;
    overflow-y: auto;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    display: inline-block;
} 

header h1 {
    font-size: 1.3rem;
    letter-spacing: .2rem;
    width: max-content;
    float: left;
    font-weight: 300;
}

header nav ul {
    float: right;
	display: table;
	width: 30%;
    overflow: auto;
    margin-top: 0.2rem;
}

header nav li {
	display: table-cell;
}

header li a {
	display: block;
	text-align: center;
	text-decoration: none;
}

a:link    {color:#000;}  /* unvisited link  */
a:visited {color:#000;}  /* visited link    */
a:hover   {color:#000;}  /* mouse over link */
a:active  {color:#000;}  /* selected link   */ 

main {
    display: block;
    margin-top: 3.75rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(246, 246, 246);
    height: 38.5rem;
}

#blurb {
    display: inline-block;
    margin-top: 10rem;
    margin-left: 3rem;
}

.page-title {
    display: inline-block;
    margin-top: 5rem;
    margin-left: 3rem;
}

#bio, #contact-form {
    display: inline-block;
}

#bio-portrait {
    display: inline-block;
    width: 40%;
    margin-left: 30%;
    height: 20rem;
}

#bio-portrait p {
    width: max-content;
}

#bio-text {
    margin-top: 1rem;
    margin-left: 25%;
    width: 50%;
}

#projects p, #services p, #contact p {
    font-size: 1.5rem;
}

#contact-form {
    width: 60%;
    margin-top: 2rem;
    margin-left: 20%;
    padding: 1rem;
    color: #5e5e5e;
    font-weight: 300;
    letter-spacing: .063rem;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 6px;
    border: 2px solid #e2e2e2;
    background: white;
    font-weight: 300;
    color: #191a1d;
    font-size: 1.2rem;
}
textarea {
    height: 150px;
}

#submit-button {
    color: #5e5e5e;
    border: 2px solid #e2e2e2;
    border-radius: 6px;
    background: white;
    padding: .2rem;
}



h2{
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

.column {
    width: 47%;
}

.left {
    float: left;
}

.right {
    float: right;
}

img {
    margin-top: 1rem;
    width: 20rem;
    height: auto;
    margin-left: 4.5rem;
}

